<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyCalories</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body style="background-color: lightgray">

<div class="container">
    <h2>Hi <span th:text="${user.name}"></span></h2>

    <divs>
        <div>
            <h4>Calories</h4>
            <div class="progress">
                <div class="progress-bar active" role="progressbar" aria-valuenow="10" aria-valuemin="0"
                     aria-valuemax="100" th:style="'width: ' + ${diet.todayCalories}/${diet.dailyCalories}*100 + '%;'">
                </div>
            </div>
            <span>
            <span th:text="${diet.todayCalories}"></span>
                /
            <span th:text="${diet.dailyCalories}"></span>
                cal
            </span>
        </div>

        <div>
            <h4>Proteins</h4>
            <div class="progress">
                <div class="progress-bar active" role="progressbar" aria-valuenow="10" aria-valuemin="0"
                     aria-valuemax="100" th:style="'width: ' + ${diet.todayProteins}/${diet.dailyProteins}*100 + '%; background-color: blanchedalmond;'">
                </div>
            </div>
            <span>
            <span th:text="${diet.todayProteins}"></span>
                /
            <span th:text="${diet.dailyProteins}"></span>
                g
            </span>
        </div>

        <div>
            <h4>Carbs</h4>
            <div class="progress">
                <div class="progress-bar active" role="progressbar" aria-valuenow="10" aria-valuemin="0"
                     aria-valuemax="100" th:style="'width: ' + ${diet.todayCarbs}/${diet.dailyCarbs}*100 + '%; background-color: lightsalmon;'">
                </div>
            </div>
            <span>
            <span th:text="${diet.todayCarbs}"></span>
                /
            <span th:text="${diet.dailyCarbs}"></span>
                g
            </span>
        </div>

        <div>
            <h4>Fats</h4>
            <div class="progress">
                <div class="progress-bar active" role="progressbar" aria-valuenow="10" aria-valuemin="0"
                     aria-valuemax="100" th:style="'width: ' + ${diet.todayFats}/${diet.dailyFats}*100 + '%; background-color: #FFDC75;'">
                </div>
            </div>
            <span>
            <span th:text="${diet.todayFats}"></span>
                /
            <span th:text="${diet.dailyFats}"></span>
                g
            </span>
        </div>
    </divs>

    <div>
        <a th:href="@{/details/}" class="btn btn-lg btn-primary btn-block" style="color: #fff">Profile Info</a>
    </div>


</div>
</body>
</html>