<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyCalories | Sign Un</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <form class="form-signup" method="post" th:action="@{/sign-up}" th:object="${userDto}">
        <h2 class="form-signin-heading">Sign up</h2>
        <p>
            <label for="name" class="sr-only">Name</label>
            <input type="text" id="name" name="name" class="form-control" placeholder="Name" th:field="*{name}">
        </p>
        <p>
            <label for="email" class="sr-only">Email</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="Email" th:field="*{email}">
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" th:field="*{password}">
        </p>
        <p>
            <label for="passwordConfirm" class="sr-only">Confirm Password</label>
            <input type="password" id="passwordConfirm" name="passwordConfirm" class="form-control" placeholder="Confirm Password" th:field="*{passwordConfirm}">
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    </form>

    <p>
        <label>Already have account</label>
        <a th:href="@{/sign-in}">Sign in</a>
    </p>
</div>
</body>
</html>